name: Publish Packages

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Install dependencies
      run: dotnet restore ./src

    - name: Build
      run: dotnet build ./src --configuration Release --no-restore

    - name: Publish ServiceLibrary.WebApp
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
          PROJECT_FILE_PATH: src/ServiceLibrary.WebApp/ServiceLibrary.WebApp.csproj
          VERSION_STATIC: 1.0.0
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
